﻿

@font-face {
    font-family: 'rubikmonoone-regular';
    src: url('../fonts/rubik_mono_one/rubikmonoone-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'markazitext-regular';
    src: url('../fonts/markazi_text/markazitext-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto-medium.ttf') format('truetype');
}
$mainFont: 'rubikmonoone-regular', sans-serif;
/*$subFont: 'Markazi Text', serif;*/
$subFont: 'Roboto', sans-serif;
/*COLOURS*/
/*BACKGROUND COLOUR*/
$backgroundColour:;
$backgroundImage: url('../images/cartographer.png');
$accent1: #ddd;
$accent2: lightgray;
$accent3: #272727;
$accent4: whitesmoke;
/*nav COLOURS*/
$navBackground:;
$navFontColour:;

/*panel colours*/ 


$panelHighlight: #FF652f;
/*$panelHighlight: #14A76C;*/
/*$highlight2: #14A76C;*/
$highlight2: #A64AC9;
$panelLowlight: white;
/*$panelBorder: #ddd;*/
/*$panelBody: lightgray;*/


.login {
    padding: 15px;
}


.title {
    /*background-color: $panelLowlight;*/
    h2 {
        font-family: $subFont;
        color: $highlight2;
    }

    h4 {
        font-family: $subFont;
        color: $highlight2;
    }
}

.tile {
    background-color: $accent4;
    h2 {
        
    }

    h4 {
        
    }
}

.profile-icon {
    padding: 5px;
}

.profile-list{
    list-style-type:none;
    a{
        text-decoration: none;
        
    }
}

    .text {
        height: 100%;
    }



.profile-header {
    /*background-color: aqua !important;*/
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $accent1 !important;

    .img-div {
        min-width: 200px;

        .img-profile {
            height: 200px;
            width: 200px;
            /*float: left;*/
        }
    }

    .icons-div {
        /*display: flex;
    justify-content:space-around;*/
        display: flex;
        justify-content: center;
        align-items: center;

        .icons {
            padding-left: 20px;
            padding-right: 20px;
        }

        .icons:hover {
            fill: $panelHighlight;
        }
    }
}



.card {
    /*background-color: $panelHighlight;*/
    background-color: transparent;
    /*transition: box-shadow 0.5s;*/
    border: none;
    /*border-radius: 0 !important;*/
    /*padding: 0 !important;*/
    padding: 0;
    /*display: normal !important;*/
    display: block;
    margin-top: 20px;
    margin-left: 15px;

    .card-header {
        background-color: $panelLowlight !important;
        border-radius: 0 !important;

        h2 {
            font-family: $mainFont;
            padding: 5px;
            color: $panelHighlight;
        }
    }

    .card-body {
        border-left: 1px solid $accent1;
        border-right: 1px solid $accent1;
        /*padding: 5px 5px 5px 0;*/ /*!important*/
        padding: 0;
        /*margin: 5px;*/
        padding: 5px 0 5px 0;
        margin-left: 0px;
        margin-right: 0px;
        background-color: $accent4;
        overflow: hidden;
        /*overflow: scroll;*/
        /*height: 210px !important;*/
        .advance-div {
            padding: 0;
            /*display: flex;
    justify-content: center;*/
            padding-top: 50px;
            padding-bottom: 50px;
            background-color: $panelLowlight;
            /*height: 200px;*/
            /*margin:auto;*/
            display: flex;
            justify-content: center;
            align-items: center;


            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                z-index: 0;
                position: absolute;
            }

            svg {
                /*display: flex;*/
                fill: $panelHighlight;
                border-radius: 50px;
                /*margin-top: 20%;
                margin-bottom: 20%;*/
                position: relative;
                z-index: 2;
            }
        }

        .advance-div:hover {

            svg {
                background-color: $panelHighlight;
                fill: $panelLowlight;
            }
        }
    }

    .card-footer {
        /*display: flex;*/
        background-color: $panelLowlight;
        justify-content: center;
        border-radius: 0;

        svg {
            fill: $panelHighlight;
            /*display: block !important;*/
            /*display: flex;*/
        }
    }

    .card-footer:hover {
        background-color: $panelHighlight;
        border-radius: 0;

        svg {
            fill: $panelLowlight;
        }
    }
}

    .card:hover {
        /*box-shadow: 5px 0px 40px rgba(0,0,0, .2);*/
    }

    .tag-div {
        background-color: $panelLowlight;
        margin: 0;
        padding: 0;
    }

    .nav-search {
        visibility: hidden;
    }

    @media screen and (max-width: 767px) {

        .dropdown {
            .tag-div {
                order: 1;
            }

            .info-div {
                order: 0;
            }
        }

        .page-content {
            
        }

        .nav-search {
            visibility: visible;
        }
    }

    @media screen and (max-width: 450px) {
        .logo {
            display: flex;
            justify-content: center;
            flex-grow: 1;

        }

        .nav-search{
            /*flex-grow: 1;*/
        }

        .profile-icon {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            margin-left: 0 !important;
        }
      
    }

    @media screen and (max-width: 767px) {

    .white-space {
        height: 0 !important;
        visibility: collapse !important;
    }

    .row.content {
        height: auto;
    }
}

body {
    padding-top: 56px;
    /*padding-bottom: 20px;*/
    background-image: $backgroundImage;
}
    .body-content {
        padding-left: 15px;
        padding-right: 15px;
    }
 
    .dl-horizontal dt {
        white-space: normal;
    }
    
    input,
    select,
    textarea {
        max-width: 280px;
    }
  
    .row.content {
        height: 450px
    }
.white-space {
    height: 100vh;

    .sidenav {
        padding-top: 20px;
        background-color: $accent3;
        height: 100vh;
        margin-left: -15px;
        /*overflow: scroll;*/
        position: fixed;
        border-right: solid;
        border-color: $highlight2;
        border-width: 1px;
        
        .side-search{
            margin-left: auto;
            margin-right: auto;
        }
    }

    a {
        background-color: $panelLowlight;
        border: 1px solid $accent1;
        /*border: none;*/
        /*padding: 5px;*/
        margin: 5px;
        padding: 0;
        /*flex-grow: 1;*/
        /*padding-left: 25%;
    padding-right:25%;*/
        display: flex;
        flex-grow: 1;
        width: 90%;
        transition: box-shadow 0.5s;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;

        p {
            width: 100%;
            font-family: $subFont;
            color: #555;
            text-align: center !important;
            margin: 0.5rem;
        }
    }

    a:hover {
        border: 1px solid $highlight2;
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);

        p {
            color: $highlight2;
        }
    }
}

    footer {
        background-color: #555;
        color: white;
        padding: 15px;
    }

/*.side-active{
    background-color:blue !important;
    left: 0;
}

.side-inactive{
    left: -200px;
}*/
