﻿@font-face {
  font-family: 'rubikmonoone-regular';
  src: url("../fonts/rubik_mono_one/rubikmonoone-regular.ttf") format("truetype"); }

@font-face {
  font-family: 'markazitext-regular';
  src: url("../fonts/markazi_text/markazitext-regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/roboto-medium.ttf") format("truetype"); }

/*$subFont: 'Markazi Text', serif;*/
/*COLOURS*/
/*BACKGROUND COLOUR*/
/*nav COLOURS*/
/*panel colours*/
/*$panelHighlight: #14A76C;*/
/*$highlight2: #14A76C;*/
/*$panelBorder: #ddd;*/
/*$panelBody: lightgray;*/
.login {
  padding: 15px; }

.title {
  /*background-color: $panelLowlight;*/ }
  .title h2 {
    font-family: "Roboto", sans-serif;
    color: #A64AC9; }
  .title h4 {
    font-family: "Roboto", sans-serif;
    color: #A64AC9; }

.tile {
  background-color: whitesmoke; }

.profile-icon {
  padding: 5px; }

.profile-list {
  list-style-type: none; }
  .profile-list a {
    text-decoration: none; }

.text {
  height: 100%; }

.profile-header {
  /*background-color: aqua !important;*/
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd !important; }
  .profile-header .img-div {
    min-width: 200px; }
    .profile-header .img-div .img-profile {
      height: 200px;
      width: 200px;
      /*float: left;*/ }
  .profile-header .icons-div {
    /*display: flex;
    justify-content:space-around;*/
    display: flex;
    justify-content: center;
    align-items: center; }
    .profile-header .icons-div .icons {
      padding-left: 20px;
      padding-right: 20px; }
    .profile-header .icons-div .icons:hover {
      fill: #FF652f; }

.card {
  /*background-color: $panelHighlight;*/
  background-color: transparent;
  /*transition: box-shadow 0.5s;*/
  border: none;
  /*border-radius: 0 !important;*/
  /*padding: 0 !important;*/
  padding: 0;
  /*display: normal !important;*/
  display: block;
  margin-top: 20px;
  margin-left: 15px; }
  .card .card-header {
    background-color: white !important;
    border-radius: 0 !important; }
    .card .card-header h2 {
      font-family: "rubikmonoone-regular", sans-serif;
      padding: 5px;
      color: #FF652f; }
  .card .card-body {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    /*padding: 5px 5px 5px 0;*/
    /*!important*/
    padding: 0;
    /*margin: 5px;*/
    padding: 5px 0 5px 0;
    margin-left: 0px;
    margin-right: 0px;
    background-color: whitesmoke;
    overflow: hidden;
    /*overflow: scroll;*/
    /*height: 210px !important;*/ }
    .card .card-body .advance-div {
      padding: 0;
      /*display: flex;
    justify-content: center;*/
      padding-top: 50px;
      padding-bottom: 50px;
      background-color: white;
      /*height: 200px;*/
      /*margin:auto;*/
      display: flex;
      justify-content: center;
      align-items: center; }
      .card .card-body .advance-div img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 0;
        position: absolute; }
      .card .card-body .advance-div svg {
        /*display: flex;*/
        fill: #FF652f;
        border-radius: 50px;
        /*margin-top: 20%;
                margin-bottom: 20%;*/
        position: relative;
        z-index: 2; }
    .card .card-body .advance-div:hover svg {
      background-color: #FF652f;
      fill: white; }
  .card .card-footer {
    /*display: flex;*/
    background-color: white;
    justify-content: center;
    border-radius: 0; }
    .card .card-footer svg {
      fill: #FF652f;
      /*display: block !important;*/
      /*display: flex;*/ }
  .card .card-footer:hover {
    background-color: #FF652f;
    border-radius: 0; }
    .card .card-footer:hover svg {
      fill: white; }

.card:hover {
  /*box-shadow: 5px 0px 40px rgba(0,0,0, .2);*/ }

.tag-div {
  background-color: white;
  margin: 0;
  padding: 0; }

.nav-search {
  visibility: hidden; }

@media screen and (max-width: 767px) {
  .dropdown .tag-div {
    order: 1; }
  .dropdown .info-div {
    order: 0; }
  .nav-search {
    visibility: visible; } }

@media screen and (max-width: 450px) {
  .logo {
    display: flex;
    justify-content: center;
    flex-grow: 1; }
  .nav-search {
    /*flex-grow: 1;*/ }
  .profile-icon {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin-left: 0 !important; } }

@media screen and (max-width: 767px) {
  .white-space {
    height: 0 !important;
    visibility: collapse !important; }
  .row.content {
    height: auto; } }

body {
  padding-top: 56px;
  /*padding-bottom: 20px;*/
  background-image: url("../images/cartographer.png"); }

.body-content {
  padding-left: 15px;
  padding-right: 15px; }

.dl-horizontal dt {
  white-space: normal; }

input,
select,
textarea {
  max-width: 280px; }

.row.content {
  height: 450px; }

.white-space {
  height: 100vh; }
  .white-space .sidenav {
    padding-top: 20px;
    background-color: #272727;
    height: 100vh;
    margin-left: -15px;
    /*overflow: scroll;*/
    position: fixed;
    border-right: solid;
    border-color: #A64AC9;
    border-width: 1px; }
    .white-space .sidenav .side-search {
      margin-left: auto;
      margin-right: auto; }
  .white-space a {
    background-color: white;
    border: 1px solid #ddd;
    /*border: none;*/
    /*padding: 5px;*/
    margin: 5px;
    padding: 0;
    /*flex-grow: 1;*/
    /*padding-left: 25%;
    padding-right:25%;*/
    display: flex;
    flex-grow: 1;
    width: 90%;
    transition: box-shadow 0.5s;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto; }
    .white-space a p {
      width: 100%;
      font-family: "Roboto", sans-serif;
      color: #555;
      text-align: center !important;
      margin: 0.5rem; }
  .white-space a:hover {
    border: 1px solid #A64AC9;
    box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.2); }
    .white-space a:hover p {
      color: #A64AC9; }

footer {
  background-color: #555;
  color: white;
  padding: 15px; }

/*.side-active{
    background-color:blue !important;
    left: 0;
}

.side-inactive{
    left: -200px;
}*/

