﻿@*@using britelearn.ViewModels*@  @*Declared in the view imports for all*@
@model HomeViewModel



@{
    ViewBag.Title = "Home Page";
}

<div class="title">
<h2>Featured Topics of the week </h2>
<h4>Clients preferences - just for you!</h4>
</div>

<hr>

<div class="row d-flex justify-content-center">
    @foreach (var topic in Model.FeaturedTopics)
    {
        @Html.Partial("TopicsSummary", topic)
    }
</div>