﻿@model LoginViewModel



@{
    ViewData["Title"] = "Login";
}


<head>
    @*<link href="~/css/Login.css" rel="stylesheet" />*@
</head>

<style>
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('.sidenav').hide();
    });
</script>
<div class="card col-md-8 ">
    <div class="card-header"><h2>Login</h2></div>
    <div class="card-body">


        <form class="form-horizontal d-flex justify-content-center flex-column" asp-controller="Account" asp-action="Login" method="post" role="form">
            <div class="flex-grow-1">
                <div class="login form-group has-danger d-flex justify-content-center align-items-center">
                    <input asp-for="UserName" class="form-control" id="email"
                           placeholder="Username" required autofocus>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>

            @*<hr>*@

            <div class="flex-grow-1">
                <div class=" login form-group d-flex justify-content-center align-items-center">
                    <input asp-for="Password" class="form-control" id="password"
                           placeholder="Password" required>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            @*<hr>*@
            @*<div class=" d-flex justify-content-center">
                <div class="col-md-10">
                    <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <i class="fa fa-close"></i> Example error message
                        </span>
                    </div>
                </div>
            </div>*@

            @*<hr>
                <hr>*@

            <div class="d-flex justify-content-center" style="padding-top: 1rem">
                <div class="col-md-10 d-flex flex-column">
                    <button type="submit" class=" btn btn-login" value="Log in"><i class="fa fa-sign-in"></i> Login</button>
                    <a class="btn btn-link" id="registerLink" asp-controller="Account" asp-action="Register"> Create Account </a>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="col-md-4"></div> @*IT'S IMPORTANT*@