﻿@{
    ViewBag.Title = "Profile";
}

<head>
@*<link href="~/css/Profile.css" rel="stylesheet" />*@
</head>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>

    <div class="  col-md-12">
<div class="profile-header row">
    @*text-left*@ @*panel panel-default*@
    
    @*<div class=" profile-header">*@
        @*panel-body*@
        <div class="col-md-3 img-div">
        <img src="https://weneedfun.com/wp-content/uploads/2016/07/Girls-Black-and-White-Profile-Pictures-8.jpg" 
             class="rounded-circle img-profile" alt="Avatar">
        </div>
        <div class="col-md-9 ">
            <h1 class="">John Doe</h1>
            <h3 class="">I do stuff and things</h3>

            <div class="icons-div row">
                <div class="icons" data-toggle="tooltip" data-placement="right" title="Lessons">
                    <svg class="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M18 24l-6-5.269-6 5.269v-24h12v24z" />

                    </svg>
                </div>

                <div class="icons" data-toggle="tooltip" data-placement="right" title="Created Lessons">
                    <svg class="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M0 1h24v2h-24v-2zm11 7h13v-2h-13v2zm0 5h13v-2h-13v2zm0 5h13v-2h-13v2zm-11 5h24v-2h-24v2zm0-5l8-6-8-6v12z" />
                    </svg>
                </div>

                <div class="icons" data-toggle="tooltip" data-placement="right" title="Edit Profile">
                    <svg class="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M14.078 4.232l-12.64 12.639-1.438 7.129 7.127-1.438 12.641-12.64-5.69-5.69zm-10.369
        14.893l-.85-.85 11.141-11.125.849.849-11.14 11.126zm2.008 2.008l-.85-.85 11.141-11.125.85.85-11.141 11.125zm18.
        283-15.444l-2.816 2.818-5.691-5.691 2.816-2.816 5.691 5.689z" />
                    </svg>
                </div>

            </div>

        </div>

        @*<div class="col-md-1 btn-div">
            <button class="edit-btn align-bottom">
                test
            </button>
        </div>*@
    @*</div>*@
</div>




    </div>


    <div class="card col-md-10">
        @*class="col-lg-12"*@


        <div class=" text-center card-heading">
            <h2>C# Tutorial</h2>
        </div>

        <div class="card-body row">
            <div class="advance-div d-flex col-md-4 ">
                @*advance-div   col-md-4 *@

                <svg class="advance-icon" xmlns="http://www.w3.org/2000/svg" viewBox="-3 0 25 25" width="100" height="100">
                    <path d="M6.028 0v6.425l5.549 5.575-5.549 5.575v6.425l11.944-12z" />
                </svg>

            </div>

            <div class=" col-md-8 text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Viverra orci sagittis eu volutpat. Faucibus turpis in eu mi bibendum neque egestas congue.
                    Urna nec tincidunt praesent semper feugiat nibh. Odio tempor orci dapibus ultrices in. Commodo quis imperdiet
                    massa tincidunt nunc pulvinar sapien et. Lorem mollis aliquam ut porttitor leo a. Cras semper auctor neque vitae
                    tempus quam pellentesque nec. Habitant morbi tristique senectus et netus et malesuada. Sapien eget
                    mi proin sed libero enim sed. !!! Morbi tempus iaculis urna id volutpat lacus. Eget magna fermentum iaculis eu.
                </p>
            </div>

            <div id="demo" class=" collapse row dropdown" style="margin-left: 0; margin-right: 0;">
                <div class="col-md-4 tag-div">
                    <span class="badge badge-pill badge-info">C#</span>
                    <span class="badge badge-pill badge-info">Primary Label</span>
                    <span class="badge badge-pill badge-info">Primary Label</span>
                    <span class="badge badge-pill badge-info">Primary Label</span>
                    <span class="badge badge-pill badge-info">Primary Label</span>
                </div>

                <div class="col-md-8 info-div">
                    Velit laoreet id donec ultrices tincidunt arcu non. Lectus mauris ultrices eros in. Faucibus a
                    pellentesque sit amet porttitor eget dolor morbi non. Eu non diam phasellus vestibulum lorem sed. Integer e
                    get aliquet nibh praesent tristique magna sit amet purus. Pretium fusce id velit ut tortor pretium.
                    Consectetur adipiscing elit ut aliquam purus sit amet luctus.
                </div>
            </div>

        </div>

        <div class="  card-footer" data-toggle="collapse" data-target="#demo">

            @*<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Simple collapsible</button>*@
            <svg @*type="button"*@ class="moreinfo-icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                <path d="M23.247 4l-11.247 14.44-11.263-13.44-.737.678 12 14.322 12-15.335-.753-.665z" />
            </svg>

        </div>
    </div>
