﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<title>@ViewData["Title"] - britelearn</title>
    @using Microsoft.AspNetCore.Identity
    @model List<Topic>
    @inject SignInManager<IdentityUser> SignInManager*@

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/Site.css" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        //$(document).ready(function () {
        //    $("button").click(function () {

        //        //
        //        alert("Handler for .click() called.");
        //});

        function toggleSide() {

            //$("#test").toggleClass("side-inactive");
            $("#test").toggle();
            $("#main").toggleClass("col-md-9");
            $("#main").toggleClass("col-md-12");

            $("#main").toggleClass("col-lg-10");
            $("#main").toggleClass("col-lg-12");

            //alert("Handler for .click() called.");
        }


    </script>



</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <a class="navbar-brand text-center logo" asp-area="" asp-controller="Home" asp-action="Index">Brite Learn</a>
        <button onclick="toggleSide()" type="button" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-chevron-left"></i></button>  @*data-toggle="collapse" data-target="#test"*@


        <!-- Navbar links
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Topic" asp-action="List">Topics</a></li>
            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Profile">Profile</a></li>
        </ul>


    </div> -->


        <form class="form-inline nav-search" asp-controller="Topic" asp-action="Search" method="get">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">S</span>
                </div>
                <input type="text" class="form-control" placeholder="Search" name="searchString" value="@ViewData["searchString"]">
            </div>
        </form>

        <!-- Toggler/collapsibe Button
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button> -->

        <!--ADMIN-->
        <div class="profile-icon pull-right ml-auto">
            <ul class="nav">

                <li class="dropdown">

                    <svg class="dropdown-toggle" data-toggle="dropdown" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M24 13.616v-3.232c-1.651-.587-2.694-.752-3.219-2.019v-.001c-.527-1.271.1-2.134.847-3.707l-2.285-2.285c-1.561.742-2.433 1.375-3.707.847h-.001c-1.269-.526-1.435-1.576-2.019-3.219h-3.232c-.582 1.635-.749 2.692-2.019
                          3.219h-.001c-1.271.528-2.132-.098-3.707-.847l-2.285 2.285c.745 1.568 1.375 2.434.847 3.707-.527 1.271-1.584 1.438-3.219 
                          2.02v3.232c1.632.58 2.692.749 3.219 2.019.53 1.282-.114 2.166-.847 3.707l2.285 2.286c1.562-.743 2.434-1.375 3.707-.847h.001c1.27.526 1.436 1.579 2.019 3.219h3.232c.582-1.636.75-2.69 
                          2.027-3.222h.001c1.262-.524 2.12.101 3.698.851l2.285-2.286c-.744-1.563-1.375-2.433-.848-3.706.527-1.271 1.588-1.44 3.221-2.021zm-12 2.384c-2.209 0-4-1.791-4-4s1.791-4 4-4 4 1.791 4 4-1.791 4-4 4z" /></svg>

                    <div class="dropdown-menu dropdown-menu-right">
                        <ul>

                            <li class="profile-list"><a asp-area="" asp-controller="Category" asp-action="Index">Category</a></li>
                            <li class="profile-list"><a asp-area="" asp-controller="Topic" asp-action="Index">Topic</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>


        <div class="profile-icon pull-right ml-auto">
            <ul class="nav">

                <li class="dropdown">


                    <svg class="dropdown-toggle" data-toggle="dropdown" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0
                                22c-3.123 0-5.914-1.441-7.749-3.69.259-.588.783-.995 1.867-1.246 2.244-.518 4.459-.981
                                3.393-2.945-3.155-5.82-.899-9.119 2.489-9.119 3.322 0 5.634 3.177 2.489 9.119-1.035
                                1.952 1.1 2.416 3.393 2.945 1.082.25 1.61.655 1.871 1.241-1.836 2.253-4.628 3.695-7.753 3.695z" />
                    </svg>

                    <div class="dropdown-menu dropdown-menu-right">
                        <ul>
                            @*<li class="profile-list"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="profile-list"><a asp-area="" asp-controller="Topic" asp-action="List">Topics</a></li>*@
                            <li class="profile-list"><a asp-area="" asp-controller="Account" asp-action="Profile">Profile</a></li>
                            @*<li class="profile-list"><a asp-area="" asp-controller="Category" asp-action="Index">Category</a></li>*@
                        </ul>
                        @await Html.PartialAsync("LoginPartial")
                    </div>
                </li>
            </ul>
        </div>



    </nav>

    <div class="container-fluid text-center">
        <div class=" content row row-offcanvas row-offcanvas-left">
            <div id="test" class=" white-space  col-lg-2   col-md-3">
                <div class="sidenav flex-column  col-lg-2   col-md-3">
                    @*col-lg-3   col-md-4*@

                    <form class="" asp-controller="Topic" asp-action="Search" method="get" style="padding: 0;">
                        <div class="form-group input-group d-flex justify-content-center">
                            <div class="input-group-prepend">
                                <span class="input-group-text">S</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Search for a Topic" name="searchString" value="@ViewData["searchString"]">
                        </div>
                    </form>
                    @await Component.InvokeAsync("CategoryMenu")

                </div>
            </div>
     
            <div id="main" class="col-lg-10 col-md-9 page-content">
                @*col-lg-9 col-md-8*@
                @RenderBody()

            </div>





            <footer class="col-12" style="margin-top: 20px">
                <p>&copy; @DateTime.Now.Year - Legitimate Indestries</p>
            </footer>


        </div>





    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
