﻿@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm"
          method="post" class="navbar-right">
        <ul @*class="nav navbar-nav navbar-right"*@>
            <li class="profile-list"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    </form>
}
else
{
    <ul @*class="nav navbar-nav navbar-right"*@>
        <li class="profile-list"><a id="registerLink" asp-controller="Account" asp-action="Register"> Register </a></li>
        <li class="profile-list"><a id="loginLink" asp-controller="Account" asp-action="Login"> Log in </a></li>
    </ul>
}
