﻿@model Topic

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        
        <img src="@Model.ImageThumbnailUrl" alt="" />
        
        <div class="caption">
            <h3>
                <a asp-controller="Topic" asp-action="Details" asp-route-id="@Model.TopicId">@Model.Name</a>
            </h3>
            <p>@Model.Description</p>
        </div>

    </div>
</div>