﻿@model Topic

@*<div class="align-items-center justify-content-center d-flex ">*@
<div class="card col-lg-5 col-md-5 col-sm-4">
  


    <div class=" text-center card-header">
        
        <h2 > @Model.Name</h2>
    </div>

    <div class="card-body row">
        @*<div class="advance-div d-flex col-md-4 ">
        @*advance-div   col-md-4 *@

        @*<img src="https://weneedfun.com/wp-content/uploads/2016/07/Girls-Black-and-White-Profile-Pictures-8.jpg"
        class="rounded-circle img-profile " alt="Avatar">*@

        @*<a asp-controller="Topic" asp-action="Details" asp-route-topicId="@Model.TopicId">
                        <svg class="advance-icon" xmlns="http://www.w3.org/2000/svg" viewBox="-3 0 25 25" width="100" height="100">
                            <path d="M6.028 0v6.425l5.549 5.575-5.549 5.575v6.425l11.944-12z" />
                        </svg>
                    </a>

        <img src="@Model.ImageThumbnailUrl" alt="" />
                </div>*@op[]0
       
        <div class="col-lg-4 col-md-12 advance-div" style="">
            <img src="@Model.ImageThumbnailUrl"
                 class="" alt="" style="">

            <a style="" asp-controller="Topic" asp-action="Details" asp-route-topicId="@Model.TopicId">
                <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="-3 0 25 25" width="100" height="100">
                    <path d="M6.028 0v6.425l5.549 5.575-5.549 5.575v6.425l11.944-12z" />
                </svg>
            </a>
        </div>



        <div class=" col-lg-8 col-md-12 text">
            <p>
                @Model.Description
            </p>
        </div>

        <div id="@Model.TopicId" class=" collapse row dropdown" style="margin-left: 0; margin-right: 0;">
            <div class="col-md-4 col-sm-12 tag-div">

                @*!!Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.!!*@
                <span class="badge badge-pill badge-info">C#</span>
                <span class="badge badge-pill badge-info">Primary Label</span>
                <span class="badge badge-pill badge-info">Primary Label</span>
                <span class="badge badge-pill badge-info">Primary Label</span>
                <span class="badge badge-pill badge-info">Primary Label</span>
            </div>

            <div class="col-md-8 col-sm-12 info-div">
                @*<a><p>
                    @Model.Name
                    donec ultrices tincidunt arcu non. Lectus mauris ultrices eros in. Faucibus a
                    pellentesque sit amet porttitor eget dolor morbi non. Eu non diam phasellus vestibulum lorem sed. Integer e
                    get aliquet nibh praesent tristique
                </p></a>*@

                @*Velit laoreet id donec ultrices tincidunt arcu non. Lectus mauris ultrices eros in. Faucibus a
                pellentesque sit amet porttitor eget dolor morbi non. Eu non diam phasellus vestibulum lorem sed. Integer e
                get aliquet nibh praesent tristique magna sit amet purus. Pretium fusce id velit ut tortor pretium.
                Consectetur adipiscing elit ut aliquam purus sit amet luctus.*@
                <a class="nav-link" asp-controller="Topic" asp-action="List"
                   asp-route-category="@Model.Category.CategoryName"><p>@Model.Category.CategoryName</p></a>
            </div>
        </div>

    </div>

    <div id="footer_@Model.TopicId" class="  card-footer" data-toggle="collapse" data-target="#@Model.TopicId">

        @*<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Simple collapsible</button>*@
        <svg id="svg_@Model.TopicId" @*type="button" *@ class="md-icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
            <path d="M23.247 4l-11.247 14.44-11.263-13.44-.737.678 12 14.322 12-15.335-.753-.665z" />
        </svg>

    </div>
</div>
@*</div>*@


<script>
    var toggle;
    toggle = 1;

    $('#footer_@Model.TopicId').click(function () {
        @*$('#svg_@Model.TopicId').css('transform', 'rotate(180deg)');*@
         @*$('#svg_@Model.TopicId').toggle('rotated');*@
        if (toggle == 1) {
          
            $('#svg_@Model.TopicId').css('transform', 'scale(1,-1) ');
            toggle = 0;
        }
        else {
            $('#svg_@Model.TopicId').css('transform', 'scale(-1,1) ');
            toggle = 1;

        }
    });

    //document.querySelector('md-icon').addEventListener('click', function () {
    //    this.classList.toggle('rotated');
    //});
</script>