﻿
<a class="nav-link" asp-controller="Topic" asp-action="List" asp-route-category=""><p>View all Topics</p></a>

@foreach (var category in Model)
{
    <a class="nav-link" asp-controller="Topic" asp-action="List"
       asp-route-category="@category.CategoryName"><p>@category.CategoryName</p></a>

}



