﻿@model Category

@{
    ViewData["Title"] = "CreateCategory";
}


@Html.ActionLink("Show All Categoriess", "List", "Category")

@using (Html.BeginForm("Created", "Category", FormMethod.Post))
{
    @*<div class="form-group">
        @Html.LabelFor(n => n.CategoryName)
        @Html.TextBoxFor(n => n.CategoryName, new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.CategoryName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.Description)
        @Html.TextBoxFor(e => e.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.Description, "", new { @class = "text-danger" })
    </div>*@


    


<div class="card @*col-md-8*@ ">
    <div class="card-header"><h2>Create New Category</h2></div>  @*<h2>Create topic</h2> @Html.HiddenFor(n => n.CategoryName)  *@
    <div class="card-body">


        <form class="form-horizontal d-flex justify-content-center flex-column" asp-controller="Account" asp-action="Login" method="post" role="form">
            <div class="flex-grow-1">

                <div class="form-group">
                    @Html.LabelFor(n => n.CategoryName)
                    <div class="d-flex justify-content-center">
                        @Html.TextBoxFor(n => n.CategoryName, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(n => n.CategoryName, "", new { @class = "text-danger" })
                </div>

            </div>

            @*<hr>*@

            <div class="flex-grow-1">

                <div class="form-group">
                    @Html.LabelFor(n => n.Description)
                    <div class="d-flex justify-content-center">
                        @Html.TextBoxFor(e => e.Description, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(n => n.Description, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="d-flex justify-content-center" style="padding-top: 1rem">
                <div class="col-md-10 d-flex flex-column">
                    <button type="submit" class="btn btn-success">Create Category</button>

                </div>
            </div>
        </form>

    </div>
</div>
}