﻿@*@model SchoolViewModel*@
@model Category

@{
    ViewData["Title"] = "DeleteCategory";
}

<div class="text-center">
    <h2 class="text-danger">You are about to delete the Category: @Model.CategoryName</h2>
    <h3>Are you sure?</h3>
</div>

@Html.ActionLink("Cancel","Index","Category")
@Html.ActionLink("Yes, sure!","Deleted","Category",new {@id = Model.CategoryId })


