﻿@using Microsoft.AspNetCore.Identity
@model List<Category>
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "All";
}



@*<head>
        <link rel="stylesheet" href="~/css/Site.css" />
    </head>*@
<div class="title">
    <h2>All Categories are Shown Here</h2>
</div>


@Html.ActionLink("Create new Category", "Create", "Category")
<div class="tile">



    @if (Model.Count() > 0)
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th>Category Description</th>


                    @if (SignInManager.IsSignedIn(User))
                    {
                        <th>Edit</th>
                        <th>Delete</th>


                    }

                </tr>

              

            </thead>
            <tbody>
                @foreach (Category Category in Model)
                {
                    <tr>
                        <td>@Category.CategoryName</td>
                        <td>@Category.Description</td>

                        @if (SignInManager.IsSignedIn(User))
                        {
                            <td>@Html.ActionLink("Edit", "Edit", "Category", new { @id = Category.CategoryId })</td>
                            <td>@Html.ActionLink("Delete", "Delete", "Category", new { @id = Category.CategoryId })</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="text-center alert-info">
            <h1>There are no categories available.</h1>
        </div>
    }

</div>