﻿@model britelearn.ViewModels.Topic.TopicCreateViewModel
@{
    ViewData["Title"] = "CreateTopic";
}

<h2>Create New Topic</h2>

@Html.ActionLink("Show All Topics", "Index", "Topic")

@using (Html.BeginForm("Created", "Topic", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(n => n.CategoryId)
        @Html.DropDownListFor(n => n.CategoryId, new SelectList(ViewBag.Categories, "CategoryId", "CategoryName"), "Select a Category", new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.CategoryId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.Name)
        @Html.TextBoxFor(n => n.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.Name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.Description)
        @Html.TextBoxFor(e => e.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.Description, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.IsFeaturedTopic)
        @Html.CheckBoxFor(a => a.IsFeaturedTopic, new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.IsFeaturedTopic, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.ImageUrl)
        @Html.TextBoxFor(a => a.ImageUrl, new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.ImageUrl, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.ImageThumbnailUrl)
        @Html.TextBoxFor(a => a.ImageThumbnailUrl, new { @class = "form-control" })
    </div>

    <!-- Examples -->
    @*<div class="form-group">
        @Html.LabelFor(n => n.ImageThumbnailUrl)
        @Html.TextBoxFor(a => a.ImageThumbnailUrl, new { @class = "form-control" })
    </div>*@

    <button type="submit" class="btn btn-success">Create Topic</button>
}

