﻿@model Topic


<div class="text-center">
    <h2 class="text-danger">You are about to delete the Topic: @Model.Name</h2>
    <h3>Are you sure?</h3>
</div>
@Html.ActionLink("Cancel", "Index", "Topic", null, new { @class = "btn btn-default" })
@Html.ActionLink("Yes, sure!", "Deleted", "Topic", new { @id = Model.TopicId }, new { @class="btn btn-danger" })

