﻿@model TopicViewModel


<head>
    @*<link href="~/css/Profile.css" rel="stylesheet" />*@
</head>


<div class="col-md-12 ">
    <div class="profile-header test row" style="min-height: 220px;">

        <div class="col-md-9 ">
            <h1 contenteditable="true" class="">@Model.Name</h1>
            @*<h3 class="">@Model.Description.</h3>*@


            @*<div class="icons-div">
                    <svg class="icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M18 24l-6-5.269-6 5.269v-24h12v24z" /></svg>

                    <svg class="icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M14.078 4.232l-12.64 12.639-1.438 7.129 7.127-1.438 12.641-12.64-5.69-5.69zm-10.369
                  14.893l-.85-.85 11.141-11.125.849.849-11.14 11.126zm2.008 2.008l-.85-.85 11.141-11.125.85.85-11.141 11.125zm18.
                  283-15.444l-2.816 2.818-5.691-5.691 2.816-2.816 5.691 5.689z" />
                    </svg>
                </div>*@

            <div class="icons-div row">
                <div class="icons" data-toggle="tooltip" data-placement="right" title="Lessons">
                    <svg class="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M18 24l-6-5.269-6 5.269v-24h12v24z" />

                    </svg>
                </div>

                <div class="icons" data-toggle="tooltip" data-placement="right" title="Edit Profile">
                    <svg class="icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M14.078 4.232l-12.64 12.639-1.438 7.129 7.127-1.438 12.641-12.64-5.69-5.69zm-10.369
        14.893l-.85-.85 11.141-11.125.849.849-11.14 11.126zm2.008 2.008l-.85-.85 11.141-11.125.85.85-11.141 11.125zm18.
        283-15.444l-2.816 2.818-5.691-5.691 2.816-2.816 5.691 5.689z" />
                    </svg>
                </div>
            </div>

        </div>
    </div>


    <hr>
    <div class=" row">

        <div class="col-md-4 tag-div">

            <span class="badge badge-pill badge-info">C#</span>
            <span class="badge badge-pill badge-info">Primary Label</span>
            <span class="badge badge-pill badge-info">Primary Label</span>
            <span class="badge badge-pill badge-info">Primary Label</span>
            <span class="badge badge-pill badge-info">Primary Label</span>
        </div>

        <div class=" col-md-8 text tile">
            <p>
                @Model.Description.
            </p>

            <div class="info-div glyphicon-info-sign">
                @foreach (var topic in Model.Caveats)
                {
                    @Html.Partial("CaveatView", topic)
                }
            </div>

        </div>

    </div>
    <hr>
    @foreach (var topic in Model.Examples)
    {
        @Html.Partial("ExampleView", topic)
    }
    <hr>

</div>
