﻿@using Microsoft.AspNetCore.Identity
@model List<Topic>
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Topics";
}

<h2>@ViewData["myFirstViewData"]</h2>
<div class="tile">
@Html.ActionLink("Create Topic", "Create", "Topic")
@*<a href="@Url.Action("Create","Topic")>Create Topic</a>*@

@if (Model.Count() == 0)
{
    <div class="alert-info text-center">
        <h1>There are no topics available.</h1>
    </div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Featured</th>
                <th>Category</th>
                <th>image Url</th>
                <th>Image Thumbnail Url</th>

                @if (SignInManager.IsSignedIn(User))
                {
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Details</th>
                }

            </tr>



        </thead>
        <tbody>
            @foreach (Topic dfk in Model)
            {
                <tr>
                    <td>@dfk.Name</td>
                    <td>@dfk.Description</td>
                    <td>@dfk.IsFeaturedTopic</td>
                    <td>@dfk.Category.CategoryName</td>
                    <td>@dfk.ImageUrl</td>
                    <td>@dfk.ImageThumbnailUrl</td>

                    @if (SignInManager.IsSignedIn(User))
                    {
                    <td>@Html.ActionLink("Edit Topic", "Edit", "Topic", new { @id = dfk.TopicId })</td>
                    <td>@Html.ActionLink("Delete Topic", "Delete", "Topic", new { @id = dfk.TopicId })</td>
                    <td>@Html.ActionLink("Details", "TopicDetails", "Topic", new { @id = dfk.TopicId })</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
</div>