﻿
@model TopicsListViewModel

<div class="title">
    <h2>Showing @Model.CurrentCategory Topics</h2>
</div>
<hr>

@if (Model.Topics.Count() > 0)
{
    <div class="row d-flex justify-content-center">
        @foreach (var topic in Model.Topics)
        {
            @Html.Partial("TopicsSummary", topic)
        }
    </div>
}
else
{
    <div class="text-center alert-info">
        <h1>There are no topics available.</h1>
    </div>
}
