﻿@model TopicViewModel
@{
    ViewData["Title"] = "TopicDetails";
}
<div class="text-center">
    <h2>These are the examples for this topic: <b>@Model.Name</b></h2>
</div>
<hr />

@if (Model.Examples.Count() == 0)
{
    <h2 class="alert-info">
        There are no examples for this topic.
    </h2>
}
else
{
    <table class="table">
        <thead>
        <th>Heading</th>
        <th>Text</th>
        <th>Order</th>

        </thead>
        <tbody>
            @foreach (Example example in Model.Examples)
            {
                <tr>
                    <td>@example.ExampleHeading</td>
                    <td>@example.ExampleText</td>
                    <td>@example.ExampleOrder</td>
                </tr>

            }

        </tbody>
    </table>
            }
